@charset "UTF-8";
/*---BASE---*/
/*-----FONTS-----*/
@font-face {
  font-family: 'OpenSansRegular';
  src: url("../fonts/OpenSans-Regular.ttf") format("truetype"); }

@font-face {
  font-family: 'OpenSansBold';
  src: url("../fonts/OpenSans-Bold.ttf") format("truetype"); }

@font-face {
  font-family: 'OpenSansSemiBold';
  src: url("../fonts/OpenSans-SemiBold.ttf") format("truetype"); }

@font-face {
  font-family: 'OpenSansLight';
  src: url("../fonts/OpenSans-Light.ttf") format("truetype"); }

@font-face {
  font-family: 'RalewayMedium';
  src: url("../fonts/Raleway-Medium.ttf") format("truetype"); }

@font-face {
  font-family: 'RalewayLight';
  src: url("../fonts/Releway-Light.ttf") format("truetype"); }

@font-face {
  font-family: 'RalewayBold';
  src: url("../fonts/Raleway-Bold.ttf") format("truetype"); }

@font-face {
  font-family: 'RalewayRegular';
  src: url("../fonts/Raleway-Regular.ttf") format("truetype"); }

@font-face {
  font-family: 'RalewayThin';
  src: url("../fonts/Raleway-Thin.ttf") format("truetype"); }

@font-face {
  font-family: 'Lobster1.4';
  src: url("../fonts/Lobster-1.4.ttf") format("truetype"); }

@font-face {
  font-family: 'BebasNeue';
  src: url("../fonts/Bebas-Neue.ttf") format("truetype"); }

/*-----MODULES-----*/
.header {
  background-color: #4ccfc1; }

.header .wrapper {
  width: 100%;
  margin: 0 auto; }

.header .wrapper .wrapLogo {
  padding: 15px 0;
  background-color: #fff; }

.header .wrapper .wrapLogo .contentLogo {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  max-width: 1020px;
  margin: 0 auto; }

.header .wrapper .wrapLogo .contentLogo .logo {
  text-align: left;
  font-family: 'Lobster1.4';
  font-size: 49px;
  color: #3cc3b5;
  text-decoration: none; }

.header .wrapper .wrapLogo .contentLogo .wrapSearch {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
  -webkit-flex-direction: row-reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
  /*меняет местами элементы*/
  -webkit-border-radius: 1px;
          border-radius: 1px;
  /*округлость блока*/
  width: 435px;
  /*ширина блока*/
  height: 35px;
  /*высота поля*/
  border: 1px solid #e1e1e1; }

.header .wrapper .wrapLogo .contentLogo .wrapSearch .btn {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 12%;
  /*ширина*/
  height: 100%;
  /*высота, почему иногда задаем в пк, а иногда в процентах*/
  background-color: #fff;
  /*цвет фона??????*/ }

.header .wrapper .wrapLogo .contentLogo .wrapSearch input {
  width: 88%;
  /*минус ширина иконки поиска*/
  height: 100%;
  border: none;
  /*откуда берется эта рамка*/
  outline: none;
  -webkit-box-shadow: none;
          box-shadow: none;
  padding: 0 0 0 10px;
  /*внутренний отступ*/
  font-family: Arial;
  /*семейство шрифтов*/
  font-size: 12px;
  /*размер шрифта*/
  color: #000000;
  /*цвет текста*/ }

.header .wrapper .wrapLogo .contentLogo .wrapBasket .price {
  color: #a1a1a1;
  font-size: 33px;
  font-family: 'BebasNeue'; }

.header .wrapper .wrapMenu {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  max-width: 990px;
  margin: 0 auto;
  padding: 15px 0; }

.header .wrapper .wrapMenu .linkBlock {
  position: relative; }

.header .wrapper .wrapMenu .linkBlock:before {
  content: '';
  position: absolute;
  top: 3px;
  bottom: 3px;
  right: 0;
  width: 2px;
  background: #fff; }

.header .wrapper .wrapMenu .linkBlock:first-child .link {
  padding-left: 0; }

.header .wrapper .wrapMenu .linkBlock:last-child .link {
  padding-right: 0; }

.header .wrapper .wrapMenu .linkBlock:last-child:before {
  width: 0; }

.header .wrapper .wrapMenu .linkBlock .link {
  padding: 0 20px;
  color: #fff;
  font-size: 21px;
  font-family: 'BebasNeue';
  text-decoration: none;
  line-height: 1; }

.firstSection .wrapFirstSection {
  width: 100%; }

.firstSection .wrapFirstSection .container {
  padding: 65px 15px;
  margin: 0 auto;
  max-width: 1020px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex; }

.firstSection .wrapFirstSection .container .images .img {
  margin-left: 50px; }

.firstSection .wrapFirstSection .container .content {
  width: 400px;
  margin-left: 100px; }

.firstSection .wrapFirstSection .container .content .title {
  margin-top: 10px;
  font-family: 'BebasNeue';
  color: white;
  font-size: 61px;
  line-height: 0.9; }

.firstSection .wrapFirstSection .container .content .textDesc {
  margin: 30px 0;
  font-family: 'OpenSansRegular';
  font-size: 17px;
  line-height: 1.3;
  color: white; }

.firstSection .wrapFirstSection .container .content .btn {
  margin-bottom: 40px;
  padding: 5px 25px;
  background-color: transparent;
  -webkit-border-radius: 6px;
          border-radius: 6px;
  outline: none;
  border: 3px solid white;
  text-transform: uppercase;
  font-family: 'BebasNeue';
  color: white;
  font-size: 27px; }

.firstSection .wrapFirstSection .categories {
  background-color: #fff;
  padding: 0 15px; }

.firstSection .wrapFirstSection .categories .wrapCategories {
  margin: 0 auto;
  max-width: 1020px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  border: 2px solid white; }

.firstSection .wrapFirstSection .categories .wrapCategories .item {
  position: relative;
  width: 100%;
  height: 210px;
  max-width: 340px;
  font-family: 'BebasNeue';
  font-size: 27px;
  color: #afafaf;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: space-around;
      -ms-flex-pack: distribute;
          justify-content: space-around;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center; }

.firstSection .wrapFirstSection .categories .wrapCategories .item:before {
  position: absolute;
  content: '';
  width: 1px;
  height: 100%;
  right: 0;
  background-color: #e7e7e7; }

.firstSection .wrapFirstSection .categories .wrapCategories .containerItem {
  margin-top: 25px;
  width: 80px; }

.firstSection .wrapFirstSection .categories .wrapCategories .containerItem .titleBrand {
  margin-bottom: 20px; }

.slick-prev {
  width: 30px;
  height: 90px;
  position: absolute;
  left: -100px;
  bottom: -15px;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
  background-color: transparent;
  color: transparent;
  outline: none;
  border: 0; }

.slick-prev:before {
  content: '';
  position: absolute;
  top: 23px;
  left: -10px;
  width: 50px;
  height: 1px;
  background-color: #e9e9e9;
  -webkit-transform: rotate(-60deg);
      -ms-transform: rotate(-60deg);
          transform: rotate(-60deg); }

.slick-prev:after {
  content: '';
  position: absolute;
  bottom: 23px;
  left: -10px;
  width: 50px;
  height: 1px;
  background-color: #e9e9e9;
  -webkit-transform: rotate(60deg);
      -ms-transform: rotate(60deg);
          transform: rotate(60deg); }

.slick-next {
  width: 30px;
  height: 90px;
  position: absolute;
  right: -100px;
  bottom: -15px;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
  background-color: transparent;
  color: transparent;
  outline: none;
  border: 0; }

.slick-next:before {
  content: '';
  position: absolute;
  top: 23px;
  left: -10px;
  width: 50px;
  height: 1px;
  background-color: #e9e9e9;
  -webkit-transform: rotate(60deg);
      -ms-transform: rotate(60deg);
          transform: rotate(60deg); }

.slick-next:after {
  content: '';
  position: absolute;
  bottom: 23px;
  left: -10px;
  width: 50px;
  height: 1px;
  background-color: #e9e9e9;
  -webkit-transform: rotate(-60deg);
      -ms-transform: rotate(-60deg);
          transform: rotate(-60deg); }

/* Dots */
.slick-dotted.slick-slider {
  margin-bottom: 0px; }

.slick-dots {
  position: absolute;
  bottom: 30px;
  right: 50%;
  -webkit-transform: translateX(50%);
      -ms-transform: translateX(50%);
          transform: translateX(50%); }

.slick-dots li {
  position: relative;
  display: inline-block;
  height: 20px;
  width: 20px;
  margin: 0;
  padding: 0;
  cursor: pointer; }

.slick-dots li button {
  border: 0;
  background: transparent;
  display: block;
  height: 7px;
  width: 7px;
  outline: none;
  padding: 5px;
  cursor: pointer;
  color: transparent; }

.slick-dots li button:hover, .slick-dots li button:focus {
  outline: none; }

.slick-dots li button:hover:before, .slick-dots li button:focus:before {
  opacity: 1; }

.slick-dots li button:before {
  position: absolute;
  top: 0;
  left: 0;
  content: '';
  width: 7px;
  height: 7px;
  background-color: #fff;
  -webkit-border-radius: 50%;
          border-radius: 50%;
  opacity: 1; }

.slick-dots li.slick-active button:before {
  background-color: #7dd6ce;
  opacity: 1; }

.sectionCatalog {
  width: 100%;
  margin: 0 auto; }

.sectionCatalog .titleList {
  max-width: 980px;
  margin: 0 auto; }

.sectionCatalog .titleList .wrapList {
  padding: 20px 0; }

.sectionCatalog .titleList .wrapList .titleProducts {
  font-family: 'BebasNeue';
  font-size: 31px;
  color: white;
  margin-left: 185px; }

.sectionCatalog .wrapSectionCatalog {
  padding: 50px 0 25px;
  background-color: #fff; }

.sectionCatalog .wrapSectionCatalog .boxContainer {
  max-width: 990px;
  margin: 0 auto; }

.sectionCatalog .wrapSectionCatalog .boxContainer .container {
  padding: 0 30px;
  margin-bottom: 50px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }

.sectionCatalog .wrapSectionCatalog .boxContainer .container .item {
  width: 260px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  border: 1px solid #e4e4e4;
  border-bottom: 5px solid #3cc395;
  margin: 0 25px;
  padding-bottom: 30px;
  font-family: BebasNeue;
  font-size: 27px;
  color: #afafaf; }

.sectionCatalog .wrapSectionCatalog .boxContainer .container .item .images {
  margin-bottom: 25px; }

.sectionCatalog .wrapSectionCatalog .boxContainer .container .item .title {
  margin-bottom: 10px; }

.sectionCatalog .wrapSectionCatalog .boxContainer .container .item .colPrice {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center; }

.sectionCatalog .wrapSectionCatalog .boxContainer .container .item .colPrice .price {
  margin-right: 15px; }

.btnShop {
  padding: 5px 15px;
  background-color: #3cc395;
  outline: none;
  border: none;
  color: #fff;
  -webkit-border-radius: 3px;
          border-radius: 3px;
  font-family: 'BebasNeue';
  font-size: 19px; }

.container {
  padding: 45px 15px; }

.container .wrapContainer {
  max-width: 990px;
  margin: 0 auto;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: space-around;
      -ms-flex-pack: distribute;
          justify-content: space-around; }

.container .wrapContainer .linkBlock {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column; }

.container .wrapContainer .linkBlock .linkMain {
  font-family: BebasNeue;
  font-size: 27px;
  color: white;
  text-decoration: none;
  margin-bottom: 25px; }

.container .wrapContainer .linkBlock .text {
  font-family: OpenSansRegular;
  font-size: 15px;
  color: white;
  margin-bottom: 15px; }

.container .wrapContainer .linkBlock .text:last-child {
  margin-bottom: 0; }

.footer {
  padding: 15px 15px;
  background-color: #2da89b; }

.footer .wrapFooter {
  width: 100%;
  max-width: 980px;
  margin: 0 auto;
  text-align: center; }

.footer .wrapFooter .textFooter {
  color: white; }
