.contentSection{
  padding: 0px 15px 180px;
  .wrapContent{
    width: 100%;
    max-width: 2300px;
    margin: 0 auto;
    .container{
      max-width: 2020px;
      display: flex;
      justify-content: space-between;
      margin: -920px auto 0;
      .text{
        font-family: 'RalewayThin';
        color: black;
        font-size: 75px;
      }
      .images {
        max-width: 100%;
        height: auto;
      }
    }
    .containerIcon{
      display: flex;
      justify-content: space-between;
      .item{
        width: 730px;
        text-align: center;
        .img{
          margin-bottom: 65px;
        }
        .desc{
          font-family: 'RalewayRegular';
          font-size: 39px;
          line-height: 1.3;
          margin-bottom: 180px;
        }
      }
    }
  }
}