.container{
  padding: 45px 15px;
  .wrapContainer{
    max-width: 990px;
    margin: 0 auto;
    display: flex;
    justify-content: space-around;
    .linkBlock{
      display: flex;
      flex-direction: column;
      .linkMain{
        font-family: BebasNeue;
        font-size: 27px;
        color: white;
        text-decoration: none;
        margin-bottom: 25px;
      }
      .text{
        font-family: OpenSansRegular;
        font-size: 15px;
        color: white;
        margin-bottom: 15px;
        &:last-child{
          margin-bottom: 0;
        }
      }
    }
  }
}