.firstSection{
  .wrapFirstSection{
    width: 100%;
    .container{
      padding: 65px 15px;
      margin: 0 auto;
      max-width: 1020px;//за счет падингов по 15 пх
      display: flex;
      .images{
        .img{
          margin-left: 50px;
        }
      }
      .content{
        width: 400px;
        margin-left: 100px;
        .title{
          margin-top: 10px;
          font-family: 'BebasNeue';
          color: white;
          font-size: 61px;
          line-height: 0.9;


        }
        .textDesc{
          margin: 30px 0;
          font-family: 'OpenSansRegular';
          font-size: 17px;
          line-height: 1.3;
          color:white;

        }
        .btn{
          margin-bottom: 40px;
          padding: 5px 25px;
          background-color: transparent;
          border-radius: 6px;
          outline: none;
          border: 3px solid white;
          text-transform: uppercase;
          font-family: 'BebasNeue';
          color: white;
          font-size: 27px;
        }
      }
    }
    .categories{
      background-color: #fff;
      padding: 0 15px;
      .wrapCategories {
        margin: 0 auto;
        max-width: 1020px; //за счет падингов по 15 пх
        display: flex;
        border: 2px solid white;
        .item {
          position: relative;
          width: 100%;
          height: 210px;
          max-width: 340px;
          font-family: 'BebasNeue';
          font-size: 27px;
          color: #afafaf;
          display: flex;
          justify-content: space-around;
          align-items: center;
            &:before{
              position: absolute;
              content: '';
              width: 1px;
              height: 100%;
              right: 0;
              background-color: #e7e7e7;
            }
          //border-right: 1px solid #e7e7e7;
        }
        .imagesCategories {

        }
        .containerItem {
          margin-top: 25px;
          width: 80px;
          .titleBrand {
            margin-bottom: 20px;
          }
          }
        }
      }

    }
  }
