/*-----FONTS-----*/
@font-face {
  font-family: 'OpenSansRegular';
  src: url('../fonts/OpenSans-Regular.ttf') format('truetype');
}
@font-face {
  font-family: 'OpenSansBold';
  src: url('../fonts/OpenSans-Bold.ttf') format('truetype');
}
@font-face {
  font-family: 'OpenSansSemiBold';
  src: url('../fonts/OpenSans-SemiBold.ttf') format('truetype');
}
@font-face {
  font-family: 'OpenSansLight';
  src: url('../fonts/OpenSans-Light.ttf') format('truetype');
}
@font-face {
  font-family: 'RalewayMedium';
  src: url('../fonts/Raleway-Medium.ttf') format('truetype');
}
@font-face {
  font-family: 'RalewayLight';
  src: url('../fonts/Releway-Light.ttf') format('truetype');
}
@font-face {
  font-family: 'RalewayBold';
  src: url('../fonts/Raleway-Bold.ttf') format('truetype');
}
@font-face {
  font-family: 'RalewayRegular';
  src: url('../fonts/Raleway-Regular.ttf') format('truetype');
}
@font-face {
  font-family: 'RalewayThin';
  src: url('../fonts/Raleway-Thin.ttf') format('truetype');
}
@font-face {
  font-family: 'Lobster1.4';
  src: url('../fonts/Lobster-1.4.ttf') format('truetype');
}
@font-face {
  font-family: 'BebasNeue';
  src: url('../fonts/Bebas-Neue.ttf') format('truetype');
}