.footer{
  padding: 15px 15px;
  background-color: #2da89b;
  .wrapFooter{
    width: 100%;
    max-width: 980px;
    margin: 0 auto;
    text-align: center;
    .textFooter{
      color: white;
    }
  }
}
