.header{
  background-color: #4ccfc1;
  .wrapper{
    width: 100%;
    margin: 0 auto;
    .wrapLogo{
      padding: 15px 0;
      background-color: #fff;
      .contentLogo{
        display: flex;
        justify-content: space-between;
        align-items: center;
        max-width: 1020px;//за счет падингов по 15 пх
        margin: 0 auto;
        .logo{
          text-align: left;
          font-family: 'Lobster1.4';
          font-size: 49px;
          color: #3cc3b5;
          text-decoration: none;
        }
        .wrapSearch{
          display: flex;
          flex-direction: row-reverse;/*меняет местами элементы*/
          border-radius: 1px;/*округлость блока*/
          width: 435px;/*ширина блока*/
          height: 35px;/*высота поля*/
          border: 1px solid #e1e1e1;
          .btn{
            display: flex;
            align-items: center;
            justify-content: center;
            width: 12%;/*ширина*/
            height: 100%; /*высота, почему иногда задаем в пк, а иногда в процентах*/
            background-color: #fff; /*цвет фона??????*/
          }
          input{
            width: 88%;/*минус ширина иконки поиска*/
            height: 100%;
            border: none;/*откуда берется эта рамка*/
            outline: none;
            box-shadow: none;
            padding: 0 0 0 10px;/*внутренний отступ*/
            font-family: Arial;/*семейство шрифтов*/
            font-size: 12px;/*размер шрифта*/
            color: #000000;/*цвет текста*/
          }
        }
        .wrapBasket{
          .imgBasket{
          }
          .price{
            color: #a1a1a1;
            font-size: 33px;
            font-family: 'BebasNeue';
          }
        }
      }

    }
    .wrapMenu{
      display: flex;
      max-width: 990px;
      margin: 0 auto;
      padding: 15px 0;
      .linkBlock{
        position: relative;
        &:before{
          content: '';
          position: absolute;
          top:3px;
          bottom: 3px;
          right: 0;
          width: 2px;
          background: #fff;
        }
        &:first-child {
          .link {
            padding-left: 0;
          }
        }
        &:last-child {
          .link {
            padding-right: 0;
          }
          &:before{
            width: 0;
          }
        }
        .link{
          padding: 0 20px;
          color: #fff;
          font-size: 21px;
          font-family: 'BebasNeue';
          text-decoration: none;
          line-height: 1;
        }
      }
    }
  }
}