.sectionCatalog{
  //padding: 0 15px;
  width: 100%;
  margin: 0 auto;
  .titleList{
    max-width: 980px;
    margin: 0 auto;
    .wrapList{
      padding: 20px 0;
      .titleProducts{
        font-family: 'BebasNeue';
        font-size: 31px;
        color: white;
        margin-left: 185px;
      }
    }
  }
  .wrapSectionCatalog{
    padding: 50px 0 25px;
    background-color: #fff;
    .boxContainer {
      max-width: 990px;
      margin: 0 auto;
      .container{
        padding: 0 30px;
        margin-bottom: 50px;
        display: flex;
        justify-content: center;
        //flex-wrap: wrap;
        box-sizing: border-box;
        .item{
          width: 260px;
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          border: 1px solid #e4e4e4;
          border-bottom: 5px solid #3cc395;
          margin: 0 25px;
          padding-bottom: 30px;
          font-family: BebasNeue;
          font-size: 27px;
          color: #afafaf;
          .images{
            margin-bottom: 25px;
          }
          .title{
            margin-bottom: 10px;
          }
          .colPrice{
            display: flex;
            align-items: center;
            .price{
              margin-right: 15px;
            }
            .btn{

            }
          }
        }
      }
    }
  }
}