.slick-prev {
  width: 30px;
  height: 90px;
  position: absolute;
  left: -100px;
  bottom: -15px;
  transform: translateY(-50%);
  background-color: transparent;
  color: transparent;
  outline: none;
  border: 0;
  &:before {
    content: '';
    position: absolute;
    top: 23px;
    left: -10px;
    width: 50px;
    height: 1px;
    background-color: #e9e9e9;
    transform: rotate(-60deg);
  }
  &:after {
    content: '';
    position: absolute;
    bottom: 23px;
    left: -10px;
    width: 50px;
    height: 1px;
    background-color: #e9e9e9;
    transform: rotate(60deg);
  }
}
.slick-next {
  width: 30px;
  height: 90px;
  position: absolute;
  right: -100px;
  bottom: -15px;
  transform: translateY(-50%);
  background-color: transparent;
  color: transparent;
  outline: none;
  border: 0;
  &:before {
    content: '';
    position: absolute;
    top: 23px;
    left: -10px;
    width: 50px;
    height: 1px;
    background-color: #e9e9e9;
    transform: rotate(60deg);
  }
  &:after {
    content: '';
    position: absolute;
    bottom: 23px;
    left: -10px;
    width: 50px;
    height: 1px;
    background-color: #e9e9e9;
    transform: rotate(-60deg);
  }
}

/* Dots */

.slick-dotted.slick-slider {
  margin-bottom: 0px;
}

.slick-dots {
  position: absolute;
  bottom: 30px;
  right: 50%;
  transform: translateX(50%);
  li {
    position: relative;
    display: inline-block;
    height: 20px;
    width: 20px;
    margin: 0;
    padding: 0;
    cursor: pointer;
    button {
      border: 0;
      background: transparent;
      display: block;
      height: 7px;
      width: 7px;
      outline: none;
      padding: 5px;
      cursor: pointer;
      color: transparent;
      &:hover, &:focus {
        outline: none;
        &:before {
          opacity: 1;
        }
      }
      &:before {
        position: absolute;
        top: 0;
        left: 0;
        content: '';
        width: 7px;
        height: 7px;
        background-color: #fff;
        border-radius: 50%;
        opacity: 1;
      }
    }
    &.slick-active button:before {
      background-color: #7dd6ce;
      opacity: 1;
    }
  }
}
